.Button {
  border: none;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.45);
  backdrop-filter: blur(10px);
  padding: 10px 20px;
  font-size: 16px;
  box-shadow: rgba(0, 0, 0, 0.65) 0 0 3px 2px;
  transition: background-color 0.2s ease-in-out;
  cursor: pointer;
  outline: none;
  user-select: none;
}

.Button:active {
  background-color: rgba(0, 0, 0, 0.65);
}
